@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html {
  font-size: calc(70.2% + 0.390625vw);
} */

.wiubiw {
  color: rgba(15 23 42 1);
}

.graph-bar.active {
  background-image: linear-gradient(
    180deg,
    #34caa5 0%,
    rgba(52, 202, 165, 0) 100%
  );
}

.graph-bar_container:hover .graph-bar {
  background-color: rgba(52, 203, 165, 0.7);
  transition: 0.8s;
}

.path {
  stroke-dasharray: 320;
  stroke-dashoffset: 320;
}

/* Styling which includes the animation for the burger */
.burger.active .line-1 {
  animation: line-1_forward 1s forwards;

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.burger.active .line-2 {
  animation: line-2_forward 1s forwards;

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.burger.inactive .line-1 {
  animation: line-1_backward 1s forwards;
}

.burger.inactive .line-2 {
  animation: line-2_backward 1s forwards;
}

@keyframes line-1_forward {
  0% {
    transform: translateY(-4px) translateX(0px);
  }

  40% {
    transform: translateY(-4px) translateX(-50px);
  }

  50% {
    transform: translateY(-25px) translateX(-25px) rotate(45deg);
  }

  100% {
    transform: translateY(0px) translateX(0px) rotate(45deg);
  }
}
@keyframes line-2_forward {
  0% {
    transform: translateY(4px) translateX(0px);
  }

  40% {
    transform: translateY(4px) translateX(50px);
  }

  70% {
    transform: translateY(-25px) translateX(25px) rotate(135deg);
  }

  100% {
    transform: translateY(0px) translateX(0px) rotate(135deg);
  }
}

@keyframes line-1_backward {
  0% {
    transform: translateY(0px) translateX(0px) rotate(45deg);
  }

  50% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }

  100% {
    transform: translateY(-4px) translateX(0px) rotate(0deg);
  }
}
@keyframes line-2_backward {
  0% {
    transform: translateY(0px) translateX(0px) rotate(135deg);
  }

  50% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }

  100% {
    transform: translateY(4px) translateX(0px) rotate(0deg);
  }
}

.graph-sortBox .graph-modal {
  transform: scaleY(0);
  transition: 0.2s ease-in-out;
  z-index: 10;
}
.graph-sortBox.active .graph-modal {
  transform: scaleY(1);
}

.desk-modal {
  transform: scaleY(0);
  transition: 0.2s ease-in-out;
  z-index: 10;
}

.desk-modal.active {
  transform: scaleY(1);
}

.graph-sortBox img {
  transition: 0.4s ease-in-out;
}
.graph-sortBox.active img {
  transform: rotate(180deg);
}

html.dark .svg-icon {
  filter: brightness(0) invert(100);
}
html.dark .svg-moon {
  filter: brightness(0);
}

.theme-bubble_desktop,
.theme-bubble_mobile {
  transition: 0.4s cubic-bezier(0.36, 0.76, 0, 1.54);
}

.theme-bubble_desktop.active {
  bottom: 10%;
}
.theme-bubble_mobile.active {
  left: 52%;
}

.bottom-order::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.bottom-order {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.loading-bar {
  transition: 1s cubic-bezier(0.61, -0.46, 0, 1.52);
}

.loading-bar.active {
  transform: scale(0);
}

body {
  position: fixed;
  margin-inline: auto;
}

body.active {
  position: relative;
}

.header-arr {
  transition: 0.4s ease-in-out;
}
.header-arr.active {
  transform: rotate(180deg);
}
